node_modules/
dist/
.env
.env.local
.env.development
.env.production

# Coverage / testes
coverage/

# Logs
*.log
npm-debug.log*
pm2.log

# Editor
.vscode/
.idea/
.DS_Store

# Runtime
*.pid
*.seed
*.pid.lock
